body{
    background-color: black;
}

header{
    background-color: #23DB4B;
    height: 100px;
}

.menu{
    color: white;
    display: flex;
    flex-direction: row-reverse;
}

.br{
    display: flex;
    height: 100%;
    width: 20%;
}